
.day-view {
    display: inline-block;
    margin-left: 5%; 
    width: 45%;
    position: absolute;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: auto;
    margin: 20px;
}

.calendar-view {
    display: inline-block;
    width: 50%;
    margin: 20px;
}

.filters {
    width: 50%;
    margin-left: 5%;
    background-color: white;
    margin: 20px;
    padding: 3% 5%;
}