
.day-view {
    width: 47%;
    position: absolute;
    height: 100%;
    display: inline-block;
    margin-left: 10px; 
    margin-top: 10px;
    overflow-x: hidden; 
    overflow-y: auto;
}

.calendar-view {
    display: inline-block;
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.filters {
    width: 50%;
    margin-left: 20px;
    background-color: white;
    padding: 3% 5%;
}