.popup {
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    margin-right: -50%;
    height: 210%;
    z-index: 10;
    padding: 5% 5%;
    background-color: white;
    color: black;
    white-space: pre-line;
}

#submit {
    background-color: #1a73e8;
    margin-top: 10%;
}


.close {
    position: absolute;
    top: 2%;
    right: 5%;
}

.titleInput {
    margin-left: 10px;
    width:30%;
    position:absolute;
    margin-top: -1px
}

.textEditor {
    margin-top: 5%
}

.permissions {
    margin-top: 5%
}

.tags {
    margin-top: 5%
}