.btn {
    padding: 5px 5px;
    margin-left: 5px;
    width: 22%;
    border-color: transparent
}

/* #leisure:active{
    background-color: #9E69AF!important
} */

#leisure{
    background-color:#9E69AF!important
}

#leisure:focus,
#work:focus,
#social:focus,
#default:focus {
    filter: brightness(85%);
}


#work{
    background-color: #EF6C00!important
}

#social{
    background-color: #7CB342!important
}

#default {
    background-color:  #039BE5!important;
    color: white
}
